  <!-- page wrapper start -->

  <div class="page-wrapper">

    <!-- preloader start -->

    <!-- <div id="ht-preloader">
      <div class="loader clear-loader">
        <span></span>
        <p>Aladdin Company Profile</p>
      </div>
    </div> -->

    <!-- preloader end -->

    <!--header start-->

    <header class="site-header navbar-light">
      <div id="header-wrap" class="position-absolute w-100 z-index-1">
        <div class="container">
          <div class="row">

            <!--Navbar start-->
            <div class="col d-flex align-items-center justify-content-between">
              <a class="navbar-brand logo text-white h2 mb-0" href="index.html">
                <img src="assets/images/logo.png" alt="">
              </a>
              <nav class="navbar navbar-expand-lg ml-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#"
                        data-toggle="dropdown">Services</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/network-product">Network Product and Services</a>
                        </li>
                        <!-- <li><a class="dropdown-item" href="/mainframe-unix">Mainframe and Unix Services</a>
                        </li> -->
                        <li><a class="dropdown-item" href="/application-product">Application Product and
                            Service</a>
                        </li>
                        <li><a class="dropdown-item" href="/it-security">IT Security Product and
                            Services</a>
                        </li>
                        <li><a class="dropdown-item" href="/data-center">Data Center Infrastruktur and
                            Services</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/karir">Career</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>

            </div>
            <!--Navbar end-->

          </div>
        </div>
      </div>
    </header>

    <!--header end-->
