<app-header></app-header>

<section class="position-relative">
    <div id="particles-js"></div>
    <div class="container">
      <div class="row  text-center">
        <div class="col">
          <h1>Contact</h1>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>
  
  <!--hero section end--> 
  
  
  <!--body content start-->
  
  <div class="page-content">
  
  <!--about start-->
  
  <section class="py-0">
      <div class="container">
          <div class="row wow animate__animated animate__fadeInUp">
              <div class="col-lg-12 mb-5">
                  <h2 class="mt-4 mb-0" style="color: #eeb500">Contact us</h2>
                  <p class="lead mb-0" style="color: #000;">We will be happy to assist you with any question regarding our services and products.
                      It’s all part of our ongoing plan to make it easier and quicker for our customers to call us. If you
                      have any feedback, be sure to let the team know when you next give us a call.</p>
              </div>
          </div>
      <div class="row wow animate__animated animate__fadeInUp">
          <div class="col-lg-7">
              <form id="contact-form" class="row" method="post" action="http://themeht.com/bootsland/html/php/contact.php">
                  <div class="messages"></div>
                  <div class="form-group col-md-6">
                      <input id="form_name" type="text" name="name" class="form-control" placeholder="First Name"
                          required="required" data-error="Name is required.">
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group col-md-6">
                      <input id="form_name1" type="text" name="name" class="form-control" placeholder="Last Name"
                          required="required" data-error="Name is required.">
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group col-md-12">
                      <input id="form_email" type="email" name="email" class="form-control" placeholder="Email"
                          required="required" data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group col-md-12">
                      <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Phone"
                          required="required" data-error="Phone is required">
                      <div class="help-block with-errors"></div>
                  </div>
      
                  <div class="form-group col-md-12">
                      <input id="form_subject" type="tel" name="subject" class="form-control" placeholder="Subject"
                          required="required" data-error="Subject is required">
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group col-md-12">
                      <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4"
                          required="required" data-error="Please,leave us a message."></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-md-12 mt-4 mb-4">
                      <button class="btn btn-yellow-med"><span>Send Messages</span>
                      </button>
                  </div>
              </form>
          </div>
          <div class="col-lg-5">
              <div class="mb-3">
                  <h4 class="text-black"> PT. ALADDIN TEKNOLOGI SOLUSI</h4>
              </div>
              <div class="mb-3">
                  <svg class="feather feather-map-pin" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                      viewBox="0 0 24 24" fill="none" stroke="#eeb500" stroke-width="1" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                      <circle cx="12" cy="10" r="3"></circle>
                  </svg>
                  <span class="text-black"> Gedung Ranuza Jl. Timor No. 10, Jakarta Pusat</span>
              </div>
              <div class="mb-3">
                  <svg class="feather feather-mail" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                      viewBox="0 0 24 24" fill="none" stroke="#eeb500" stroke-width="1" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                      <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                  <a href="mailto:Aladdingroup@aladdin-hitec.com" > Aladdingroup@aladdin-hitec.com</a>
              </div>
              <div>
                  <svg class="feather feather-phone-call" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                      viewBox="0 0 24 24" fill="none" stroke="#eeb500" stroke-width="1" stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                          d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                      </path>
                  </svg>
                  <a href="tel:+621999999" style="color: #333">021 2123 8218</a>
              </div>
          </div>
      </div>
  </div>
  </section>
  
  <!-- <section>
      <div class="container">
          <div class="map" style="height: 500px;">
  
          </div>
      </div>
  </section> -->
  <div class="wow animate__animated animate__fadeInUp">
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
  </div>
  
<app-footer></app-footer>