#about-us, #about-us-img {
    animation-duration: 1s;
}

#visi-img {
    animation-duration: 1s;
}

#visi-1 {
    animation-duration: 1s;
}

#visi-2 {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#visi-3 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}