
  <!--body content end-->


  <!--footer start-->

  <footer class="py-11 bg-yellow position-relative" data-bg-img="assets/images/bg/03.png">
    <div class="shape-1" style="height: 150px; overflow: hidden;">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C150.00,150.00 271.49,-50.00 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
          style="stroke: none; fill: #fff;"></path>
      </svg>
    </div>
    <div class="container mt-11">
      <div class="row">
        <div class="col-12 col-lg-5 col-xl-4 mr-auto mb-6 mb-lg-0">
          <div class="subscribe-form bg-warning-soft p-5 rounded">
            <h5 class="mb-4 text-white">Newsletter</h5>
            <h6 class="text-light">Subscribe Our Newsletter</h6>
            <form id="mc-form" class="group">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mc-email"
                placeholder="Email Address" required="" style="height: 60px;">
              <input class="btn btn-outline-light btn-block mt-3 mb-2" type="submit" name="subscribe" value="Subscribe">
            </form> <small class="text-light">Get started for 1 Month free trial No Purchace required.</small>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row">
            <div class="col-12 col-sm-12 navbar-dark">
              <h5 class="mb-4 text-white">PT ALADDIN TEKNOLOGI SOLUSI</h5>
              <ul class="navbar-nav list-unstyled mb-0">
                <li class="mb-3 nav-item text-white">Gedung Ranuza Jl. Timor No. 10 RT 009 RW 04
                </li>
                <li class="mb-3 nav-item text-white">Gondangdia, Menteng. Jakarta Pusat
                </li>
                <li class="mb-3 nav-item text-white">DKI Jakarta
                </li>
                <li class="mb-3 nav-item text-white">021 999 999
                </li>
                <li class="nav-item text-white">aladdingroup@aladdin-hitec.com
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <div class="row text-white text-center mt-8">
        <div class="col">
          <hr class="mb-8">Copyright 2020 by <u><a class="text-white" href="#">PT ALADDIN TEKNOLOGI SOLUSI</a></u> | All
          Rights Reserved
        </div>
      </div>
	  </div>
  </footer>