<app-header></app-header>
<section class="position-relative">
    <div id="particles-js"></div>
    <div class="container">
      <div class="row  text-center">
        <div class="col">
          <h1>Open Positions</h1>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>
  
  <!--hero section end--> 
  
  
  <!--body content start-->
  
  <div class="page-content">
  
      
      
      <!--open position start-->
      
      <section class="py-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="tab wow animate__animated animate__fadeInUp">
                <!-- Nav tabs -->
                <nav>
                  <div class="nav nav-tabs w-100 border-0" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#tab1-1" role="tab" aria-selected="true">UI/UX Designer</a>
                    <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab1-2" role="tab" aria-selected="false"> Java Developer</a>
                  </div>
                </nav>
                <div class="tab-content px-5 pt-5" id="nav-tabContent">
                  <div role="tabpanel" class="tab-pane fade show active" id="tab1-1">
                    <h5>Job Descriptions:</h5>
                    <ul>
                      <li>You will be creating intuitive design for web and mobile applications as well as improving user interface based on users’ needs.</li>
                      <li>You will be collaborating with Product Managers, UX Designers and Product Copywriters to solve problems with considerations to business and user needs as well as technical challenges.</li>
                      <li>You will be working closely with Front End Developers and the Engineering team to bring the product visions to life by gauging the technical constraints and feasibility.</li>
                      <li>You will be conducting your own user testing and use the collected data to improve user interfaces</li>
                      <li>Your role as UX Designer will Collaborate with product managers, technology and marketing on conceptual models, process ﬂows, user scenarios &amp; tasks, and UI design.</li>
                      <li>Translate user requirements and complex business processes into highly usable, highly interactive applications by applying a user-centric approach to design, and balancing the end-user experience with the stated business purpose.</li>
                      <li>Contribute towards user requirements gathering for new product releases. Conceive, document, and evangelize user interface guidelines and design patterns.</li>
                      <li>Work across various lifecycle stages of a product, from new products to continuous product improvements through agile (scrum) process. Inspire the team to execute your UX vision</li>
                    </ul>
                    <h5>Minimum Qualifications</h5>
                    <ul>
                      <li>Bachelor in Design, Information Technology, Computer Science, Visual Communication Design, Phsychology or related field from top universities.</li>
                      <li>Minimum of 2 years of related work experience</li>
                      <li>Experience in developing the design for new user experiences, creating concepts, designing mockups and specifications, and representing the designs to the product team</li>
                      <li>Creating wireframes, storyboards, user flows, process flow and sitemaps to effectively communicate interaction and design ideas</li>
                      <li>Demonstrable leadership, organizational and communication skills</li>
                      <li>A team player who is willing to learn and collaborate with others</li>
                      <li>Ability to analyze problem from end to end and looking to solve the bigger picture</li>
                      <li>Responsible in building user friendly, usable and immersive UI</li>
                      <li>Collaborate with cross functional teams to produce usable experience to end users</li>
                      <li>Collaborate with Product Manager to produce solutions for every problems defined</li>
                      <li>Up to date with latest UI trends, tecniques, and technologies</li>
                    </ul>
                    <p>Send your resume to: <a href="mailto:Aladdingroup@aladdin-hitec.com" > Aladdingroup@aladdin-hitec.com</a></p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab1-2">
                    <h5>Job Descriptions:</h5>
                    <ul>
                      <li>Develop, maintain, troubleshoot, and enhance existing applications</li>
                      <li>Design solutions and integrate with our merchants and partners</li>
                      <li>Participate in the team workflow and processes, technical review, meeting and discussion</li>
                      <li>Conduct code review and testing</li>
                      <li>Prepare documentation e.g. Design specifications, User Acceptance Test document</li>
                    </ul>
                    <h5>Minimum Qualifications</h5>
                    <ul>
                      <li>Have a Bachelor Degree in Computer Science, Information Technology or related subject</li>
                      <li>Have a minimum 2 years of experience</li>
                      <li>Fluent with Java programming language</li>
                      <li>Solid understanding of software development best practices (SOLID, OO, design patterns)</li>
                      <li>Familiar with Git, Maven, RESTful API, Spring, PostgreSQL/MySQL database</li>
                      <li>Good communication, able to work together in a team</li>
                      <li>Knowledge of web services, network protocol, socket would be added advantage</li>
                      <li>Familiarity with Spring Boot, PHP, JSP would be an added advantage</li>
                      <li>Knowledge of ISO-8583 application and previous experience in payment application development would be added advantage</li>
                      <li>Strong attention to detail, analytical and problem solving skill</li>
                    </ul>
                    <p>Send your resume to: <a href="mailto:Aladdingroup@aladdin-hitec.com" > Aladdingroup@aladdin-hitec.com</a></p>
                  </div>
                </div>
              </div>
              <!-- Tab panes -->
            </div>
          </div>
        </div>
      </section>
<app-footer></app-footer>