
  .services .owl-carousel img {
    width: auto;
    height: 225px;
    max-height: 225px;
  }

  .clients .owl-carousel img {
    width: auto;
    height: 80px;
    max-height: 80px;
  }

  .btn-lead {
    background: #eeb500;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }

  .btn-lead:hover {
    background: #000;
    color: #fff;
    transition: linear 1s;
  }

  .btn-yellow {
    background: #eeb500;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
  .btn-yellow:hover {
    background: #000;
    color: #fff;
    transition: linear 1s;
  }

  #visimisi p {
    text-transform: capitalize;
  }

  
